#biliscope-id-card {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    border-radius: 4px;
    position: absolute;
    z-index: 1002;
    width: 375px;
    line-height: 1.6;
}

#biliscope-id-card .idc-theme-img {
    border-radius: 4px 4px 0 0;
    display: block;
    width: 375px;
    height: 120px;
    background-size: cover;
    background-position: 50%
}

#biliscope-id-card .idc-content .idc-username {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle
}

#biliscope-id-card .idc-info {
    padding: 7px 30px 10px 90px;
    position: relative
}

#biliscope-id-card .idc-info .idc-avatar-container {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 54px;
    height: 54px
}

#biliscope-id-card .idc-avatar {
    border: 2px solid #fff;
    border-radius: 50px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0
}

#biliscope-id-card .idc-uname {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    max-width: 9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#biliscope-id-card .idc-meta {
    font-size: 12px;
    margin-top: 4px
}

#biliscope-id-card .idc-meta-item {
    margin-right: 20px
}

#biliscope-id-card .idc-tag-list {
    display: none;
    padding-bottom: 0
}

#biliscope-id-card .idc-auth-description {
    line-height: 20px;
    font-size: 12px;
    margin-top: 4px;
    color: #6d757a
}

#biliscope-id-card .idc-auth-description.no-desc {
    color: #99a2aa
}

.biliscope-auth-icon {
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/user-auth.png);
    background-repeat: no-repeat;
    margin-right: 6px
}

.biliscope-personal-auth-icon {
    background-position: -39px -54px;
}

.biliscope-organization-auth-icon {
    background-position: -5px -54px;
}

.biliscope-icon {
    display: inline-block;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/icons.png)
}

.h .gender {
    display: none;
    width: 21px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    background-position: -212px -922px
}

.h .gender.male {
    display: inline-block;
    background-position: -212px -472px
}

.h .gender.female {
    display: inline-block;
    background-position: -211px -404px
}

#biliscope-id-card #biliscope-tag-list {
    margin-top: 6px;
    margin-bottom: 8px;
}

#biliscope-id-card .biliscope-badge {
    color: white;
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #00a1d6;
    margin-right: 5px;
}
