.biliscope-video-tag-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.biliscope-video-tag {
    color: white;
    display: inline-block;
    padding: 5px 7px;
    margin: 2px;
    line-height: 12px;
    vertical-align: top;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    margin-right: 5px;
    background-color: #fb7299;
}
